In [1]:
! pip install boto3 pymongo twitter --quiet

In [2]:
from pymongo import MongoClient

In [3]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [4]:
cursor = collection_reference.find()

In [5]:
next(cursor)

{'_id': ObjectId('5b562057cfd9de0efb61d3b5'),
 'created_at': 'Sat Jul 21 20:58:43 +0000 2018',
 'id': 1020775097898917888,
 'id_str': '1020775097898917888',
 'text': 'Can’t wait to go home and play video games already smh',
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 3096943027,
  'id_str': '3096943027',
  'name': 'mattygeee',
  'screen_name': 'Mattygeee1',
  'location': 'Los Angeles, CA',
  'url': None,
  'description': None,
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 286,
  'friends_count': 399,
  'listed_count': 4,
  'favourites_count': 7501,
  'statuses_count': 17775,
  'created_at': 'Thu Mar 19 01:14:05 +0000 2015',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': 'E81C4F',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/3096943027/1522005281',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': {'id': '59612bd882018c51',
  'url': 'https://api.twitter.com/1.1/geo/id/59612bd882018c51.json',
  'place_type': 'city',
  'name': 'Santa Monica',
  'full_name': 'Santa Monica, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.517358, 33.995177],
     [-118.517358, 34.050199],
     [-118.443482, 34.050199],
     [-118.443482, 33.995177]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532206723080'}

In [6]:
cursor = collection_reference.find()

In [7]:
collection_reference.count_documents({})

12248

In [18]:
cursor_sampl = collection_reference.aggregate(
    [{'$sample': {'size': 20}}]
)

In [19]:
len(list(cursor_sampl))

20

In [20]:
next(cursor_sampl)

StopIteration:

In [21]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [22]:
tw = next(cursor_sampl)

In [23]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [24]:
list(tw.values())[:5]

[ObjectId('5b56a9491a6d22025b8bfdd9'),
 'Tue Jul 24 02:59:29 +0000 2018',
 1021590667045138432,
 '1021590667045138432',
 'Kinda sad that Liam and I aren’t married yet 😒']

In [25]:
import pandas as pd

In [26]:
cursor = collection_reference.aggregate([{'$sample': {'size': 5}}])

tw_sample_df = pd.DataFrame(list(cursor))

In [27]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_tweet                object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id         object
in_reply_to_status_id_str     object
in_reply_to_user_id           object
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str          object
quoted_status_permalink       object
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
dtype: object

In [28]:
tw_sample_df.select_dtypes([int])

,favorite_count,id,quote_count,reply_count,retweet_count
0,0,1022168115545747456,0,0,0
1,0,1022304930315595777,0,0,0
2,0,1022293607871537154,0,0,0
3,0,1021579344790020096,0,0,0
4,0,1022171174518706176,0,0,0

In [29]:
tw_sample_df.select_dtypes([float])

   quoted_status_id
0               NaN
1               NaN
2               NaN
3               NaN
4      1.022171e+18

In [30]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_tweet,filter_level,geo,id_str,...,lang,place,possibly_sensitive,quoted_status,quoted_status_id_str,quoted_status_permalink,source,text,timestamp_ms,user
0,5b58b0d63aed5a010fe91145,None,None,Wed Jul 25 17:14:04 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1022168115545747456,...,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",now to wait and see,1532538844368,"{'id': 892545645361246208, 'id_str': '89254564..."
1,5b592f7735c77d003438ad5c,None,"{'type': 'Point', 'coordinates': [-118.243, 34...",Thu Jul 26 02:17:43 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': 'I had plans to visit a nearby c...,low,"{'type': 'Point', 'coordinates': [34.0522, -11...",1022304930315595777,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,NaN,NaN,NaN,"<a href=""http://instagram.com"" rel=""nofollow"">...",I had plans to visit a nearby church for their...,1532571463551,"{'id': 24630286, 'id_str': '24630286', 'name':..."
2,5b59254935c77d003438a4d0,None,None,Thu Jul 26 01:32:44 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,low,None,1022293607871537154,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...","COMING FOR THE 100,000 PLAQUE! https://t.co/e1...",1532568764070,"{'id': 3160076773, 'id_str': '3160076773', 'na..."
3,5b569cc0987491012707420c,None,None,Tue Jul 24 02:14:30 +0000 2018,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': '나라를 맏겠다며 개돼지들을 선동하여 잘하는 박통을 모함하...,low,None,1021579344790020096,...,ko,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",나라를 맏겠다며 개돼지들을 선동하여 잘하는 박통을 모함하고 괴롭혀서 내쫓았으면 국민...,1532398470481,"{'id': 305774740, 'id_str': '305774740', 'name..."
4,5b58b3c83aed5a010fe9138c,None,None,Wed Jul 25 17:26:13 +0000 2018,"[0, 58]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,low,None,1022171174518706176,...,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",False,{'created_at': 'Wed Jul 25 17:24:05 +0000 2018...,1022170634888126469,"{'url': 'https://t.co/mFbLASUU6D', 'expanded':...","<a href=""http://twitter.com/download/iphone"" r...",Niggas letting Draymond green go crazy like th...,1532539573684,"{'id': 1013651920936828928, 'id_str': '1013651..."

In [31]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [32]:
tw_sample_df.created_at

0   2018-07-25 17:14:04
1   2018-07-26 02:17:43
2   2018-07-26 01:32:44
3   2018-07-24 02:14:30
4   2018-07-25 17:26:13
Name: created_at, dtype: datetime64[ns]

## Tweets Containing Geo Information

In [33]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

In [34]:
collection_reference.count_documents({'geo' : { '$ne' : None}})

1526

## Distinct Users

#### TRY THIS

In [35]:
len(collection_reference.distinct('user'))

11882